<div>
    <h1>Uploaded images</h1>
        {% for image in uploaded_images %}
            <image src="{{image}}" width=300 height=200></image>
        {% endfor %}
</div>
<div>
    <h1>{{algorithm}} - {{extraction}}</h1>
        <div style="width:100%">
            {% for image in nearest_images %}
                <div style="display: block">
                    <div>
                        <h4>{{distances[image]}}</h4>
                    </div>
                    <div>
                        <image src="{{image}}" width=300 height=200></image>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>
<a href="/">Go back to query</a>